 @css {
	.btn {
		@apply .px-6 .py-3 .border .text-sm .uppercase .tracking-xl .no-underline;
	}
	.btn-green {
		@apply .bg-green .text-white .border-green;
	}
	.btn-green:hover {
		@apply .bg-green-dark .border-green-dark;
	}
	.btn-green-st {
		@apply .text-green .border-green;
	}
	.btn-green-st:hover {
		@apply .text-green-darker .border-green-darker;
	}
	.btn-white {
		@apply .text-white .border-white;
	}
	.btn-white:hover {
		@apply .text-black .border-black;
	}
	.btn-dark-st {
		@apply .text-70 .border-70;
	}
	.btn-dark-st:hover {
		@apply .text-90 .border-90;
	}
	.btn-red {
		@apply .text-red .border-red;
	}
	.btn-red:hover {
		@apply .text-red-darker .border-red-darker;
	}
}