/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight"
 */
@tailwind preflight

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components"
 */
@tailwind components

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn
 *     ...
 *
 * .form-input
 *     ...
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons"
 * @import "components/forms"
 */

@import 'form/label'
@import 'form/input'
@import 'form/radio'
@import 'form/checkbox'
@import 'buttons'
@import 'table'

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities"
 */
@tailwind utilities

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper
 *     ...
 *
 * .skew-45
 *     ...
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns"
 * @import "utilities/skew-transforms"
 */
.flex-expand
    flex 1 0 auto
    
.leading-normal-rem
    line-height 1.5rem

@responsive
    .flex-2
        flex 2
    .flex-3
        flex 3

.bullet
    width 14px
    height 14px
    background #38c172
    border-radius 50%
    
select:-moz-focusring
    color transparent
    text-shadow 0 0 0 #000
option:not(:checked)
    color black 
    
[v-cloak]
	display none

.font-shadow
    text-shadow 0 1px 2px rgba(0,0,0,0.2)

.menu-content, .item, #menu
    display none

#menu:checked ~ .menu-content, .item
    display block
    
@css {
    .post br {
        content: "";
        @apply .mb-2 .block;
    }
}

.smooth-scroll
    -webkit-overflow-scrolling touch 

@import 'transitions'

.sponsors-grid
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-gap 1.5rem
    @media (max-width 768px)
        grid-template-columns repeat(3, 1fr)
        grid-gap 1.5rem
    @media (max-width 576px)
        grid-template-columns repeat(2, 1fr)
        grid-gap 1.5rem
        
.sponsors-grid-item-offset
    grid-column-start 2
    @media (max-width 768px)
        grid-column-start auto 
.team-grid
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-column-gap 3rem
    grid-row-gap 2rem
    @media (max-width 768px)
        grid-template-columns repeat(1, 1fr)
        grid-row-gap 1.5rem
        
.gallery-grid
    display grid
    grid-template-columns repeat(1, 1fr)
    grid-gap 2rem
    @media (min-width 768px)
        grid-template-columns repeat(2, 1fr)
        grid-gap 2rem
    @media (min-width 1060px)
        grid-template-columns repeat(3, 1fr)
        grid-gap 2rem
    // @media (min-width 1500px)
    //     grid-template-columns repeat(4, 1fr)
    //     grid-gap 2rem
    
@keyframes pulse
    0%
        transform scale(1)
    50%
        transform scale(1.2)
    100%
        transform scale(1)

.pulse
    width 13px
    height 13px
    background-color #E74C5C
    border-radius 50%
    animation pulse 1s infinite
    flex-shrink 0
    
.text-link
    color: #64D9C7
    text-decoration: none
    
.iframe-container
    overflow hidden
    // padding-top 56.25%
    padding-top 1600px
    position relative
    iframe
        border 0
        height 100%
        left 0
        position absolute
        top 0
        width 100%
        