@css {
  .table {
    @apply .text-sm;  
  }
  .table tr th {
    @apply .border-b .border-solid .border-30 .p-3 .font-normal;
  }
  .table tbody tr:hover {
    @apply .bg-blue-lighter;
  }
  .table tbody .table-info:hover {
    @apply .bg-white
  }
  .table tbody .table-icons:hover {
    @apply .bg-20
  }
  .table tbody tr td {
    @apply .border-b .border-solid .border-30 .p-3 .leading-tight .text-70 .font-medium;
  }
}