.fade-enter-active, .fade-leave-active
    transition opacity .2s

.fade-enter, .fade-leave-to
    opacity 0

.slide-enter-active, .slide-leave-active
	transition all .3s ease

.slide-enter, .slide-leave-to
	opacity 0
	transform translate3d(-24px, 0, 0)