<template>
	<label class="rounded border border-70 shadow hover:shadow-md bg-white p-4 flex flex-col items-center justify-center cursor-pointer" ref="dropzone" for="images">
		<img src="/images/photo.svg" class="w-16 h-auto o-5" v-if="!loading">
		<p class="text-60 mt-2">{{ loading ? 'Pievienoju attēlus...' : 'Pievienot...' }}</p>
		<input v-if="!loading" id="images" type="file" class="hidden" multiple @change="changed" ref="files" accept="image/*">
	</label>
</template>

<script>
	export default {
		data() {
			return {
				loading: false,
			}
		},
		props: ['gallery'],
		methods: {
			changed(event) {
				this.loading = true

				let fileList = [...this.$refs.files.files]
				
				let uploadFunction = (file) => {
					let form = new FormData
					form.append('file', file)
					return axios.post(`/admin/galleries/${this.gallery}/images`, form)
				}

				Promise.all(fileList.map(uploadFunction)).then( results => {
					results.forEach(({ data }) => {
						this.$emit('uploaded', data)
					})
					this.loading = false
				} )
			},
		}
	}
</script>