<template>
	<div style="display:grid;grid-template-columns:repeat(4,1fr);grid-gap:1rem;">
		<admin-image v-for="image in images" :image="image" :key="image.id" v-on:destroy="removeImage"></admin-image>
		<add-images :gallery="gallery" v-on:uploaded="addImage"></add-images>
	</div>
</template>

<script>
	import AdminImage from './AdminImage'
	import AddImages from './AddImages'
	export default {
		props: ['initialImages', 'gallery'],
		components: { AdminImage, AddImages },
		data() {
			return {
				images: this.initialImages || [],
			}
		},
		methods: {
			removeImage(image) {
				this.images.splice(this.images.indexOf(image), 1)
			},
			addImage(image) {
				this.images.push(image)
			}
		},
	}
</script>