<template>
	<div class="flex flex-col items-center">
		<img :src="image.thumb" class="rounded-sm shadow">
		<a class="text-green font-regular mt-2" href="#" @click.stop.prevent="removeImage">Dzēst attēlu</a>
	</div>
</template>

<script>
	export default {
		props: ['image'],
		methods: {
			removeImage() {
				axios.delete(`/admin/images/${this.image.id}`)
					.then(() => {
						this.$emit('destroy', this.image)
					})
			}
		}
	}
</script>