<template>
	<a href="#" @click.stop.prevent="destroy">
		<slot></slot>
	</a>
</template>

<script>
	export default {
		props: ['media'],
		methods: {
			destroy() {
				axios.delete(`/admin/images/${this.media}`)
			}
		}
	}
</script>