<template>
	<!-- boat 2 -->
                    <tr>
                        <td class="border-r text-left">
                            <div class="mb-1">S/Y JOKER LTU 1644</div>
                            <div class="text-xs">Marius Ambrulaitis</div>
                        </td>
                        <td class="border-r">0.92</td>

                        <!-- day 1 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 2 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 3 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 4 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 5 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- total -->
                        <td>9</td>
                        <td class="bg-green-lighter">1</td>
                    </tr>
                    <!-- boat 3 -->
                    <tr>
                        <td class="border-r text-left">
                            <div class="mb-1">Blondy LAT-315</div>
                            <div class="text-xs">Andris Zubrickis</div>
                        </td>
                        <td class="border-r">1.12</td>

                        <!-- day 1 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 2 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 3 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 4 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- day 5 -->
                        <td>
                            <div>14:24:25</div>
                        </td>
                        <!-- <td>2</td> -->
                        <td class="border-r bg-yellow-lighter">3</td>

                        <!-- total -->
                        <td>9</td>
                        <td class="bg-green-lighter">1</td>
                    </tr>
</template>

<script>
	export default {
		
	}
</script>