    <template>
	<div class="relative">
        <div class="overflow-x-auto smooth-scroll">
            <table class="w-full table results-table border border-30" style="border-collapse:collapse;">
                <!-- <thead class="text-left uppercase text-60 bg-20"> -->
                <tbody>
                    <tr class="table-info">
                        <td class="text-left" style="vertical-align:bottom;">
                            {{ fleet.name }} {{ labels.group }}
                        </td>
                        <td class="border-r"></td>
                        <stage v-for="stage in stages" :stage="stage" :fleet="fleet.id" :key="stage.id"></stage>
                        
                        <td colspan="2" style="vertical-align:bottom;">
                            <div v-html="labels.totalResult"></div>
                        </td>
                    </tr>
                    <tr class="text-left uppercase text-60 bg-20 table-icons">
                        <td class="border-r">{{ labels.participants }}</td>
                        <td class="border-r">{{ fleet.type }}</td>

                        <template v-for="(stage, columnIndex) in stages">
                            <td class="text-center cursor-pointer">
                                <div class="cursor-pointer w-full mx-2 py-2 border border-50 bg-10 rounded text-base" @click="toggleFilter(columnIndex)">
                                    <img v-show="filterOptions[table[columnIndex]] == 'time'" src="/images/timer.svg" class="h-4">
                                    <span v-show="filterOptions[table[columnIndex]] == 'et'">ET</span>
                                    <span v-show="filterOptions[table[columnIndex]] == 'ct'">CT</span>
                                </div>
                            </td>
                            <td class="text-center border-r"><img src="/images/list.svg" class="w-4"></td>
                        </template>
                        
                        <td class="text-center"><img src="/images/flag.svg" class="w-4"></td>
                        <td class="text-center"><img src="/images/trophy.svg" class="w-4"></td>
                    </tr>

                    <tr v-for="(yacht, index) in yachts">
                        <td class="border-r text-left">
                            <div class="mb-1">{{ yacht.name }} {{ yacht.sail_number}}</div>
                            <div class="text-xs">{{ yacht.skipper }}</div>
                        </td>
                        <td class="border-r">{{ yacht.rating || '-' }}</td>

                        <template v-for="(result, index) in yacht.results">
                            <td>
                                <div>{{ result === '-' ? '-' : result[filterOptions[table[index]]] }}</div>
                            </td>
                            <td class="border-r bg-yellow-lighter">{{ result.points }}</td>
                        </template>

                        <!-- total -->
                        <td>{{ yacht.total }}</td>
                        <td class="bg-blue-lighter">{{ yacht.total > 0 ? index + 1 : '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <!-- mobile scroll tip -->
        <div class="absolute bg-white opacity-75 pin-r pin-y shadow-md-light flex items-center pr-2 pl-3 md:hidden">
            <svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon id="left" fill="#8795a1" transform="translate(4.000000, 6.121500) rotate(270.000000) translate(-4.000000, -6.121500) " points="3.293 8.95 4 9.657 9.657 4 8.243 2.586 4 6.828 -0.243 2.586 -1.657 4"></polygon>
            </svg>
        </div>

    </div>
</template>

<script>
    import Stage from './Stage'
	export default {
		data() {
			return {
				table: [],
			}
		},
        components: { Stage },
		props: ['fleet'],
		computed: {
            labels() {
                let labels = {
                    lv: {
                        totalResult: 'Kopējais<br>rezultāts',
                        group: 'Grupa',
                        participants: 'Dalībnieki'
                    },
                    en: {
                        totalResult: 'Total<br>result',
                        group: 'Group',
                        participants: 'Participants',
                    }
                }
                return labels[this.locale]
            },
            locale() {
                return document.documentElement.getAttribute('lang')
            },
            stages() {
                return window.stages
            },
            yachts() {
                return this.fleet.yachts.sort((a, b) => {
                    // if (a.total === '-' || b.total === '-') return 1
                    if (a.total === b.total) {
                        return a.results[a.results.length - 1].ct - b.results[b.results.length - 1].ct
                    }
                    return a.total - b.total
                })
            },
            filterOptions() {
                return ['time', 'et', 'ct']
            },
		},
        methods: {
            toggleFilter(columnIndex) {
                console.log(columnIndex)
                if (this.table[columnIndex] + 1 == this.filterOptions.length) {
                    this.$set(this.table, columnIndex, 0)
                    return
                }
                let currentValue = this.table[columnIndex]
                this.$set(this.table, columnIndex, currentValue + 1)
            }
        },
        mounted() {
            this.stages.forEach((_stage, columnIndex) => {
                this.$set(this.table, columnIndex, 0)
            })
        },
	}
</script>