<template>
	<div class="progressive flex-1 mx-auto sm:mx-2 mb-2 cursor-pointer shadow-md max-w-xs sm:max-w-full" @click="openFull">
		<img :src="image.thumb" class="block" style="">
	</div>
</template>

<script>
	export default {
		props: ['image', 'index'],
		methods: {
			openFull() {
				console.log('open image')
				this.$emit('fullscreen', this.image.index)
			}
		}
	}
</script>
