<template>
	<div>
		<img v-if="isSelected" :src="preview" class="image-preview" :style="imageStyle">
		<label v-if="displayToolbar" :class="{ 'block mt-3':isSelected}">
			<span class="inline-block btn border-gray text-70 cursor-pointer">{{ preview ? changeImage : addImage }}</span>
			<input type="file" :name="name" class="hidden-input-file" @change.stop.prevent="updateFile" accept="image/*">
		</label>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				preview: '',
			}
		},
		props: {
			value: {
				required: true,
			},
			imageStyle: {
				required: false,
			},
			name: {
				required: true,
				default: 'image',
				type: String,
			},
			displayToolbar: {
				required: false,
				default: true,
				type: Boolean,
			},
		},
		computed: {
			isSelected() {
				return this.preview != ''
			},
			locale() {
				return document.documentElement.getAttribute('lang')
			},
			changeImage() {
				if (this.locale == 'lv') return 'Mainīt attēlu'
				return 'Change image'
			},
			addImage() {
				if (this.locale == 'lv') return 'Pievienot'
				return 'Add image'
			}
		},
		methods: {
			updateFile(event) {
				this.$emit('input', event.target.files[0])

				this.createThumbnail(event.target.files[0])
				this.$emit('change')
			},
			createThumbnail(file) {
				let reader = new FileReader()
				reader.onload = (e) => {
					this.preview = e.target.result
					this.$emit('selected')
				}
				reader.readAsDataURL(file)
			},
			clearImage() {
				this.$emit('input', null)
				this.preview = ''
				this.$emit('remove-image')
			}

		},
		created() {
			this.preview = this.value || ''
		},
		watch: {
			value: function (newValue) {
				this.preview = newValue
			}
		}
	}
</script>

<style lang="stylus" scoped>
	.hidden-input-file
		display none !important

	.image-preview
		max-width 240px
		height auto
		border-radius 3px
</style>