<template>
    <div>
        <div class="movie relative mt-14 shadow-md mb-6 sm:mb-0" v-if="hasVideo">
            <iframe :src="videoUrl" frameborder="0" allowfullscreen class="absolute w-full h-full pin-t pin-l"></iframe>
        </div>
        <image-row v-for="(row, rowIndex) in rows" :images="row" :key="rowIndex" v-on:fullscreen="fullscreen"></image-row>
        <!-- modalaa loga wrapperis -->
        <transition name="fade">  
            <div class="fixed pin bg-smoke-gray flex justify-center items-center" v-if="open">
                <div @click="previous" class="cursor-pointer flex-no-shrink p-2 md:p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" viewBox="0 0 20 20"><path fill="#3d4852" d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/></svg>
                </div>
                <div class="relative">
                    <img :src="currentImage.full" alt="" class="w-auto rounded-sm shadow-lg" v-cloak style="max-height:90vh;" ref="swipeable">
                    
                </div>
                <div @click="next" class="cursor-pointer flex-no-shrink p-2 md:p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" viewBox="0 0 20 20"><path fill="#3d4852" d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
                </div>
                <div @click="close" class="cursor-pointer absolute pin-t pin-r mt-4 mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20"><path fill="#3d4852" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import Hammer from 'hammerjs'
    import ImageRow from './ImageRow'
    export default {
        data() {
            return {
                open: false,
                currentIndex: null,
            }
        },
        components: { ImageRow },
        computed: {
            rows() {
                return window.images
            },
            images() {
                return [].concat.apply([], window.images)
            },
            currentImage() {
                return this.images.find(image => image.index == this.currentIndex)
            },
            hasVideo() {
                return !! window.videoId
            },
            videoUrl() {
                if (this.hasVideo) {
                    let videoId = window.videoId
                    return `https://www.youtube.com/embed/${videoId}`
                }
                return ''
            }
        },
        methods: {
            fullscreen(index) {
                this.currentIndex = index
                this.open = true
                this.$nextTick(() => {
                    this.initHammer()
                })
            },
            initHammer() {
                // create a manager for that element 
                var mc = new Hammer.Manager(this.$refs.swipeable)
                
                // create a recognizer 
                var Swipe = new Hammer.Swipe()

                // add the recognizer 
                mc.add(Swipe)
                 
                // subscribe to events 
                mc.on('swiperight', e => this.previous())
                mc.on('swipeleft', e => this.next())
            },
            close() {
                this.open = false
                this.currentIndex = null
            },
            next() {
                if (this.currentIndex < this.images.length - 1 ) {
                    this.currentIndex++
                }
            },
            previous() {
                if (this.currentIndex > 0) {
                    this.currentIndex--
                }
            },
        },
        mounted() {
            document.addEventListener("keydown", (e) => {
                if (e.keyCode == 27) {
                    this.close()
                }
                if (e.keyCode == 39) {
                    this.next()
                }
                if (e.keyCode == 37) {
                    this.previous()
                }
            })
        }
    }
</script>

<style lang="stylus" scoped>
    .movie
        height 0
        padding-bottom 56.25%
</style>

