<template>
	<div class="sm:flex md:justify-between sm:mt-14">
        <gallery-image class="flex-1 cursor-pointer" v-for="(image, imageIndex) in images" :key="`image-${imageIndex}`" :image="image" :index="imageIndex" v-on:fullscreen="fullscreen"></gallery-image>
        <div class="flex-1 mr-14 hidden sm:block" v-if="images.length < 2"></div>
        <div class="flex-1 hidden sm:block" v-if="images.length < 3"></div>
    </div>
</template>

<script>
	import GalleryImage from './GalleryImage'
	export default {
		props: ['images'],
		components: { GalleryImage },
		methods: {
			fullscreen(index) {
				this.$emit('fullscreen', index)
			}
		}
	}
</script>

