<template>
	<transition name="fade">
		<div class="fixed w-full h-full pin-t pin-l z-50 bg-smoke-gray flex justify-center items-center" v-if="open">
			<img src="/images/2019-track-model.jpg" alt="2019 track model" class="rounded-sm shadow-lg mt-8" style="max-height: 90vh; max-width: 90%;">
			<div class="cursor-pointer absolute pin-t pin-r mt-4 mr-4" @click="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20"><path fill="#3d4852" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
      </div>
		</div>
	</transition>
</template>

<script>
	export default {
		data() {
			return {
				open: false
			}
		},
		created() {
			this.open = true
			document.addEventListener('keydown', (e) => {
				if (e.keyCode === 27) {
					this.close()
				}
			})
		},
		methods: {
			close() {
				this.open = false
			}
		}
	}
</script>