<template>
	<div>
		<input id="can_accept_people" name="can_accept_people" type="checkbox" value="1" :checked="can_accept_people">
		<label v-if="locale == 'lv'" for="can_accept_people" class="tracking-wide leading-normal">Varu uzņemt <a href="#" @click.stop.prevent="openModal" class="text-green font-semibold">papildus dalībniekus</a>, vēlos saņemt informāciju par tiem e-pastā</label>
		<label v-else for="can_accept_people" class="tracking-wide leading-normal">I am looking for <a href="#" @click.stop.prevent="openModal" class="text-green font-semibold">crew members</a> and would like to receive an email notification when a crew member is looking for a boat</label>
		<modal :showModal="modal" v-on:close="closeModal">
			<h3 class="mb-3 text-black font-bold text-lg">{{ title }}</h3>
			<p class="text-sm text-70 font-regular leading-normal">{{ body }}</p>
		</modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				modal: false,
			}
		},
		computed: {
			locale() {
				return document.documentElement.getAttribute('lang')
			},
			title() {
				if (this.locale == 'lv') return 'Papildus dalībnieki'
				return 'Crew looking for boat'
			},
			body() {
				if (this.locale == 'lv') return 'Lai popularizētu burāšanas sacensības Latvijā un Baltijā, Rīgas līča regatei piedāvājam pieteikties arī dalībniekiem, kuriem trūkst komandas. Šie dalībnieki tiek iekļauti elektroniskā sarakstā, no kura kapteiņi pēc reģistrācijas var pievienot šos cilvēkus savai komandai regates mājaslapā.'
				return 'To gain exposure for sailing sport in Latvia and the Baltics, we encourage sailors, who are not members of any crew, to sign up for the Gulf of Riga Regatta. These participants will be added to a list that skippers will later use to add additional members to their crew via the regatta\'s website.'
			},
		},
		methods: {
			openModal() {
				this.modal = true
			},
			closeModal() {
				this.modal = false
			}
		}
	}
</script>