<template>
	<transition name="fade">
		<div class="fixed w-full h-full pin-t pin-l z-50 bg-shadow" v-if="showModal" @click="closeModal">
			<div @click.stop.prevent class="w-9/10 max-w-sm bg-white mx-auto my-8 rounded shadow-lg px-12 pt-16 pb-12">
				<slot></slot>
				<div class="mt-8 text-center">
					<button class="btn btn-dark-st" @click.stop.prevent="closeModal">{{ close }}</button>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
	export default {
		props: ['showModal'],
		computed: {
			locale() {
				return document.documentElement.getAttribute('lang')
			},
			close() {
				if (this.locale == 'lv') return 'Aizvērt'
				return 'Close'
			},
		},
		methods: {
			closeModal() {
				this.$emit('close')
			}
		}
	}
</script>