<template>
    <div class="bg-white p-4 shadow">
        <fleet-table v-for="fleet in fleets" :fleet="fleet" :key="fleet.name" class="mb-10"></fleet-table>
    </div>
</template>
<script>
    import FleetTable from './FleetTable'
    export default {
        components: { FleetTable },
        computed: {
            fleets() {
                return window.fleets
            }
        }
    }
</script>
