<template>
    <div class="grid-items">
        <div v-for="skipper in skippers" class="shadow grid-item bg-white" :key="skipper.yacht.sail_number">
            <div>
                <img :src="skipper.yacht.thumbnail" class="block w-full">
                <!-- <div class="absolute pin-r pin-t mr-4 mt-4 bg-green p-2 text-white text-sm rounded-full font-medium tracking-wide opacity-75">{{ skipper.yacht.sail_number }}</div> -->
            </div>
            <div class="p-4 bg-white">
                <div class="mb-4">
                    <div class="flex items-baseline justify-between">
                        <div>
                            <p class="text-90 text-lg font-bold leading-normal mr-2">{{ skipper.yacht.name }}</p>
                            <p class="text-xs text-90 mb-1">{{ skipper.yacht.year || '' }}</p>                        
                        </div>
                        <p class="text-color-primary text-sm uppercase font-medium">{{ skipper.yacht.sail_number }}</p>
                    </div>
                </div>
                <div class="mb-4">
                    <p class="text-xs text-50 uppercase mb-1 tracking-wide font-medium">{{ labels[locale].skipper }}</p>
                    <p class="text-90 text-sm leading-normal">{{ skipper.name }}</p>
                </div>
                <div class="mb-4">
                    <p class="text-xs text-50 uppercase mb-1 tracking-wide font-medium">{{ labels[locale].yachtclub }}</p>
                    <p class="text-90 text-sm leading-normal">{{ skipper.yacht.yacht_club }}</p>
                </div>
                <div class="flex mb-4">
                    <div class="mr-8">
                        <p class="text-xs text-50 uppercase mb-1 tracking-wide font-medium">{{ labels[locale].makeType }}</p>
                        <p class="text-90 text-sm leading-normal">{{ skipper.yacht.make_model || '-' }}</p>
                    </div>
                    <div class="mr-8">
                        <p class="text-xs text-50 uppercase mb-1 tracking-wide font-medium">{{ labels[locale].group }}</p>
                        <p class="text-90 text-sm uppercase">{{ skipper.yacht.group }}</p>
                    </div>
                    <div>
                        <p class="text-xs text-50 uppercase mb-1 tracking-wide font-medium">{{ labels[locale].loa }}</p>
                        <p class="text-90 text-sm">{{ skipper.yacht.loa }}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['skippers'],
    computed: {
        labels() {
            return {
                en: {
                    yacht: 'Yacht',
                    yachtclub: 'Yachtclub',
                    group: 'Group',
                    loa: 'Loa',
                    makeType: 'Make, type',
                    year: 'Year',
                    skipper: 'Skipper'
                },
                lv: {
                    yacht: 'Jahta',
                    yachtclub: 'Jahtklubs',
                    group: 'Grupa',
                    loa: 'Loa',
                    makeType: 'Ražotājs, tips',
                    year: 'Gads',
                    skipper: 'Kapteinis'
                }
            }
        },
        locale() {
            return document.documentElement.getAttribute('lang')
        }
    }
}
</script>

<style lang="stylus" scoped>
    .grid-items
        display grid
        grid-template-columns repeat(1, 1fr)
        grid-gap 2rem
        @media (min-width 768px)
            grid-template-columns repeat(2, 1fr)
            grid-gap 2rem
        @media (min-width 1060px)
            grid-template-columns repeat(3, 1fr)
            grid-gap 2rem
        @media (min-width 1500px)
            grid-template-columns repeat(4, 1fr)
            grid-gap 2rem
</style>
