<template>
    <div class="overflow-x-auto smooth-scroll bg-white shadow">
        <table class="w-full table" style="border-collapse:collapse;">
            <thead class="text-left uppercase text-70 bg-50">
                <tr>
                    <th>{{ labels[locale].yacht }}</th>
                    <th>{{ labels[locale].yachtclub }}</th>
                    <th>{{ labels[locale].group }}</th>
                    <th>{{ labels[locale].loa }}</th>
                    <th>{{ labels[locale].makeType }}</th>
                    <th>{{ labels[locale].year }}</th>
                    <th>{{ labels[locale].skipper }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="skipper in skippers" :key="skipper.yacht.name">
                    <td>{{ skipper.yacht.name }} {{ skipper.yacht.sail_number }}</td>
                    <td>{{ skipper.yacht.yacht_club || '-' }}</td>
                    <td class="uppercase">{{ skipper.yacht.group }}</td>
                    <td>{{ skipper.yacht.loa }}</td>
                    <td>{{ skipper.yacht.make_model || '-' }}</td>
                    <td>{{ skipper.yacht.year || '-' }}</td>
                    <td>{{ skipper.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: ['skippers'],
    computed: {
        labels() {
            return {
                en: {
                    yacht: 'Yacht',
                    yachtclub: 'Yachtclub',
                    group: 'Group',
                    loa: 'Loa',
                    makeType: 'Make, type',
                    year: 'Year',
                    skipper: 'Skipper'
                },
                lv: {
                    yacht: 'Jahta',
                    yachtclub: 'Jahtklubs',
                    group: 'Grupa',
                    loa: 'Loa',
                    makeType: 'Ražotājs, tips',
                    year: 'Gads',
                    skipper: 'Kapteinis'
                }
            }
        },
        locale() {
            return document.documentElement.getAttribute('lang')
        }
    }
}
</script>
