<template>
    <div>
        <div class="md:flex md:justify-between md:items-end border-t border-50 border-solid mb-8">
            <div class="mb-8 md:mb-0 mt-8">
                <p class="text-90 leading-normal">{{ this.subtitle }}</p>
            </div>
            <div class="flex">
                <div @click="choice='Table'" class="mr-6 flex items-center cursor-pointer" :class="{ 'opacity-50': this.choice !== 'Table' }">
                    <span class="text-90 text-xs font-semibold uppercase mr-2">{{ labels[locale].table }}</span>
                    <img src="/images/table-icon.svg" alt="Table">
                </div>
                <div @click="choice='Grid'" class="flex items-center cursor-pointer" :class="{ 'opacity-50': this.choice !== 'Grid' }">
                    <span class="text-90 text-xs font-semibold uppercase mr-2">{{ labels[locale].grid }}</span>
                    <img src="/images/grid-icon.svg" alt="Grid">
                </div>
            </div>
        </div>
        <div class="relative">
            <transition name="fade" mode="out-in">
                <component :is="choice" :skippers="skippers"></component>
            </transition>
            <div v-if="choice=='Table'" class="absolute bg-30 opacity-75 pin-r pin-y shadow-md-light flex items-center pr-2 pl-3 md:hidden">
                <svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon id="left" fill="#8795a1" transform="translate(4.000000, 6.121500) rotate(270.000000) translate(-4.000000, -6.121500) " points="3.293 8.95 4 9.657 9.657 4 8.243 2.586 4 6.828 -0.243 2.586 -1.657 4"></polygon>
                </svg>
            </div>
        </div>
    </div>
</template>

<script>
import Table from './SkippersTable'
import Grid from './SkippersGrid'
export default {
    props: ['skippers', 'subtitle'],
    components: {
        Table,
        Grid,
    },
    data() {
        return {
            choice: 'Table',
            // subtitle: this.subtitle
        }
    },
    computed: {
        labels() {
            return {
                en: {
                    table: 'Table',
                    grid: 'Grid'
                },
                lv: {
                    table: 'Tabula',
                    grid: 'Režģis'
                }
            }
        },
        locale() {
            return document.documentElement.getAttribute('lang')
        }
    }
}
</script>
