<template>
	<td colspan="2" class="border-r">
        <div class="text-base mb-3">{{ stage.name }}</div>
        <div class="text-xs">{{ labels.start }}: {{ stage.date }} {{ startTime }}</div>
        <div class="text-xs">{{ labels.distance }}: <span class="font-semibold text-70">{{ distance }}</span></div>
    </td>
</template>

<script>
	export default {
		props: ['stage', 'fleet'],
		computed: {
			labels() {
				let labels = {
					lv: {
						start: 'Starts',
						distance: 'Distance',
					},
					en: {
						start: 'Start',
						distance: 'Distance',
					}
				}
				return labels[this.locale]
			},
			locale() {
	            return document.documentElement.getAttribute('lang')
			},
			race() {
				return this.stage.races.find(race => race.stage_id == this.stage.id && race.fleet_id == this.fleet)
			},
			hasRace() {
				return this.race !== undefined
			},
			startTime() {
				return this.hasRace ? this.race.startTime : ''
			},
			distance() {
				return this.hasRace ? this.race.distance + 'nm' : '-'
			}
		}
	}
</script>