<template>
  <div>
    <p class="mt-6 md:mt-0 leading-normal"><slot></slot></p>
    <div class="py-8 sm:flex sm:justify-center sm:items-center text-center">
      <div class="flex justify-center">
          <div class="flex flex-col items-center mr-6">
              <span class="text-color-primary text-3xl mb-2">{{ days | two_digits }}</span>
              <span class="text-70 text-sm">{{ daysLabel }}</span>
          </div>
          <div class="flex flex-col items-center mr-6">
              <span class="text-color-primary text-3xl mb-2">{{ hours | two_digits }}</span>
              <span class="text-70 text-sm">{{ hoursLabel }}</span>
          </div>
          <div class="flex flex-col items-center">
              <span class="text-color-primary text-3xl mb-2">{{ minutes | two_digits }}</span>
              <span class="text-70 text-sm">{{ minutesLabel }}</span>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
      date: {
          type: String
      }
  },
  data() {
      return {
          now: Math.trunc((new Date()).getTime() / 1000)
      }
  },
  computed: {
    locale() {
      return document.documentElement.getAttribute('lang')
    },
    dateInMilliseconds() {
      return Math.trunc(Date.parse(this.date) / 1000)
    },
    seconds() {
      return (this.dateInMilliseconds - this.now) % 60;
    },
    minutes() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60) % 60;
    },
    minutesLabel() {
      if (this.locale === 'lv') return 'minūtes'
      if (this.locale === 'ee') return 'minutit'
      if (this.locale === 'lt') return 'minučių'
      return 'minutes'
    },
    hours() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60) % 24;
    },
    hoursLabel() {
      if (this.locale === 'lv') return 'stundas'
      if (this.locale === 'ee') return 'tundi'
      if (this.locale === 'lt') return 'valandos'
      return 'hours'
    },
    days() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60 / 24);
    },
    daysLabel() {
      if (this.locale === 'lv') return 'dienas'
      if (this.locale === 'ee') return 'päeva'
      if (this.locale === 'lt') return 'dienų'
      return 'days'
    },
  },
  mounted() {
    window.setInterval(() => {
        this.now = Math.trunc((new Date()).getTime() / 1000);
    },1000);
  },
  filters: {
      'two_digits': (value) => {
          if (value < 0) {
              return '00'
          }
          if (value.toString().length <= 1) {
              return `0${value}`
          }
          return value
      }
  }
}
</script>

