<template>
	<div v-if="show" class="fixed shadow-lg bg-white pin-b pin-r mb-8 mr-6 rounded-sm border-l-8 border-solid py-6 px-8" :class="[css]">
		<slot></slot>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				show: true,
			}
		},
		props: ['type'],
		computed: {
			css() {
				if (this.type == 'success') return 'border-green'
				if (this.type == 'error') return 'border-red'
				return 'border-transparent'
			}
		},
		mounted() {
			setTimeout(() => {
				this.show = false
			}, 4000)
		}
	}
</script>