@css {
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"] + label {
	    @apply .relative .inline-block .cursor-pointer .pr-8 .leading-normal-rem;
	}
	input[type="checkbox"] + label:before {
	    content: '';
	    transition: all 0.2s ease;
	    @apply .w-6 .h-6 .bg-white .pin-t .pin-r .absolute .rounded .border .border-50 .border-solid;
	}
	input[type="checkbox"] + label:after {
	    content: '';
	    top: 4px;
	    right: 4px;
	    text-align: center;
	    line-height: 16px;
	    transition: all 0.2s ease;
	    @apply .w-4 .h-4 .absolute .text-white .font-semibold;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	    transform: scale(0);
	    @apply .opacity-0;
	}
	input[type="checkbox"]:checked + label:before {
	    @apply .bg-yellow-main .border-yellow-main;
	}
	input[type="checkbox"]:checked + label:after {
		content: 'V';
	    transform: scale(1);
	    @apply .opacity-100;
	}
}