@css {
	input[type="radio"] {
		display: none;
	}
	input[type="radio"] + label {
	    @apply .relative .inline-block .cursor-pointer .pl-8 .leading-normal-rem;
	}
	input[type="radio"] + label:before {
	    content: '';
	    @apply .w-6 .h-6 .bg-white .pin-t .pin-l .absolute .rounded-full .border .border-50 .border-solid;
	}
	input[type="radio"] + label:after {
	    content: '';
	    top: 4px;
	    left: 4px;
	    transition: all 0.2s ease;
	    @apply .w-4 .h-4 .absolute .rounded-full .bg-yellow-main;
	}
	input[type="radio"]:not(:checked) + label:after {
	    transform: scale(0);
	    @apply .opacity-0;
	}
	input[type="radio"]:checked + label:after {
	    transform: scale(1);
	    @apply .opacity-100;
	}
}